<div class="btn-group-vertical m-3">

  <section class="card d-flex justify-content-center align-content-lg-center align-content-md-center">
    <div class="card-header">
      <h4 class="card-title">{{currentgame?.title}}</h4>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{currentgame?.platform}}</h5>
            <img src="{{currentgame?.thumbnail}}" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
